html{
  scroll-behavior: smooth;
  max-width: 99%;
 overflow-x: hidden;
}

body{
background-color: #003358;
  font-family: sans-serif;
color:white;

}

h1{
  color:white;

    z-index: 3;
}

p{
  color:white;
  font-size:24px;
}

/* section styles */
section{
  /* height:100vh; */
  position:relative;

}

/* navbar */


.nav{
  position: fixed;
  z-index:4;
  background-color: #00000099;
      width: 100%;

}
.nav li {
  font-family: 'Oswald', sans-serif;
  line-height: 1em;
  height: 1em;
  border-bottom: 1px solid #888;

}
.nav a:hover{
  font-family: 'Oswald', sans-serif;
  line-height: 1em;
  height: 1em;
  border-bottom: 1px solid #888;
    background-color: #003358;
color:#B9D801;
}
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
  text-align:center;
  margin-left:400%;
}

.nav a:hover {
  background-color: #CC0633;
}

.nav a:active {
    background-color: #CC0633;
  color: #444;
  cursor: default;
  text-decoration: underline;
}



.anchorNav {
  position: fixed;
  padding: 4px;
  border: 2px solid #000;
  width: 100%;
  line-height: 2.25em;
  background-color: yellow;
}


.visitorCounter{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

/*start of code snippets*/

pre code {

  border: 1px solid #999;
  display: block;
  padding: 20px;

  /* allows word wrapping for multiple browsers */
  white-space: pre-wrap;
  word-wrap: break-word;

}

pre {

  width: 75%;
}

code {
  font-size: 100%;
  background-color: #003358;
  color: white;
}

@media only screen and (max-width: 1000px) {
  pre {
  margin-left:auto;
  margin-right:auto;
  }
code {
  margin-left:auto;
  margin-right:auto;

}
}

/*end of code snippets*/


/* sandwich appear only mobile */

@media screen and (max-width: 900px) {
.nav ul{
  display: none;
}
/* hides original nav bar */


/* mobile nav bar */
.topnav {
  overflow: hidden;
  /* background-color: #333; */
  position: relative;
color: #FFFFFF;
position: fixed;
    width: 100%;
      background-color: #00000099;
}

.topnav #myLinks {
  display: none;
color: #FFFFFF;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  /* background: black; */
  display: block;
  position: absolute;
  right: 0;
  top: 0;
color:white;
}


.topnav a.icon:active {
  background: #B9D801;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
color: #FFFFFF;
}





.topnav a:hover {
  background-color: #B9D801;

}




}

/* large screen desktop view */
@media screen and (min-width: 900px) {


.topnav {
display:none;
}








  .nav li {

    width: 12.5vw;
    border-bottom: none;
    /* height: 8vh; */
    /* margin-left: 2vw; */
    /* margin-right: 2vw; */
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
  }

  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */



  .overlay-content {
  left: 0;

}



  }

/* end of sandwich */

/* bio card */
.section1{
/* very dark green */
  background-color: #254b15a3;
  /* width:100vw; */
padding-left:0px;
position:relative;
/* height:100vh; */
/* height:100vh; */

}
/* title cards */
.section0{
/*  darker green */

  position:relative;
}

.sectionBanner{
/*  darker green */
height:100vh;
  position:relative;
}
.darker_pallete{
  /* background-color:#1e231157; */
   border-radius: 25px;
     background: inherit;
margin:6px;
}
.section_small{
/* dark green */
  /* background-color: #034202; */
height:75vh;
position:relative;
}


/* section styles end */

/* website banner */

.tab{
  background-color: transparent;
  border: 5px solid white;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  width:100%;

  animation: pulse 4s ease alternate;
  transform-origin: center;
  transform-box:fill-box;
  animation-iteration-count: infinite;

}

.tab:hover{
background-color: white;
transition: 0.5s;
color:black;
}

.tab:active{
animation: pulse 4s ease alternate;
transform-origin: center;
transform-box:fill-box;
animation-iteration-count: infinite;
background-color: white;
}

.title{

font-size:60px;
text-align:left;
margin-left:10%;
/* position: absolute; */
}
@media only screen and (max-width: 1200px) {
  .title{
text-align: center;
/* font-size:100%; */
  margin: auto;
  margin-left:auto;
/* width:50%; */
margin-top: 100px;
  }
}

/* website banner end */


.title_card{
  margin-top:25%;
  text-align: center;
  font-size:70px;
    /* margin: auto; */

}

@media only screen and (max-width: 768px) {
  .title_card{
text-align: center;

  /* margin: auto; */

  }
}








/* project container */
.flex-container-banner {
  display: flex;
   justify-content: center;
   /* background-color: #034202; */
   flex-direction:row;
 }
 
 .flex-banner-item-left{
   /* background-color: #f1f1f1; */
   width: 30%;
   /* margin: 10px; */
   text-align: left;
   height:100%;
   font-size: 30px;
   margin:100px;
 }
 
 .flex-banner-item-right{
  /* background-color: #f1f1f1; */
  width: 70%;
  /* margin: 10px; */
  text-align: left;
  height:100%;
  font-size: 30px;
  margin:100px;
}

@media only screen and (max-width: 1200px) {
/* project container */
.flex-container-banner {
text-align:center;
   flex-direction:column;
 }

 .flex-banner-item-left{
  /* background-color: #f1f1f1; */
  width: 60%;
  text-align:center;
  margin-left: auto;
  margin-right:auto;
}

.flex-banner-item-right{
 /* background-color: #f1f1f1; */
 width: 100%;
 margin-left: auto;
  margin-right:auto;
 
}


}

@media only screen and (max-width: 1200px) {
.title{
 font-size:2em;
}
}




/* project container */
.flex-container {
 display: flex;
  justify-content: center;
  /* background-color: #034202; */
}

.flex-container > div {
  /* background-color: #f1f1f1; */
  width: 50%;
  /* margin: 10px; */
  text-align: left;
  height:100%;
  font-size: 30px;
  margin:100px;
}

/* project container */
.flex-container1 {
 display: flex;

  justify-content: flex-start
  /* background-color: #034202; */
}

.flex-container1 > div {
  /* background-color: #f1f1f1; */
  width: 40%;
  /* margin: 10px; */
  text-align: center;
  height:100%;
  font-size: 30px;
}

.tabLayout{
   flex: 0.1;
flex-wrap: wrap;
   width: 100%;
}

.tabLayout > div{
flex-wrap: wrap;
     width: 100%;

}


@media only screen and (max-width: 768px) {
.flex-container {
flex-wrap: wrap;
}
.flex-container > div {
text-align:center;
  width: 100%;
  margin:auto;
}


.flex-container1 {
flex-wrap: wrap;
}
.flex-container1 > div {

  width: 100%;
}


.tabLayout{
flex-wrap: wrap;
   flex: 1;
}
.tabLayout > div {

  width: 33.33%;
}


}



.sorrenButton{
border: 5px solid white;
background-color: transparent;
color:white;
width:25%;
padding
}

.button {
  background-color: transparent;
border: 5px solid white;
 border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;


}

.button:hover{
    background-color: white;
    transition: 0.5s;
    color:black;
}



.tag {
  background-color:#039500;
/* border: 5px solid white; */
 border-radius: 25px;
  color: white;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  /* cursor: pointer; */

  animation: pulse 4s ease alternate;
  transform-origin: center;
  transform-box:fill-box;
  animation-iteration-count: infinite;
}








/* project container end */


/* splash bg */

.background {
  position: absolute;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  opacity:0.9;
}

/* splash bg end */

.formContainer{
  margin: auto;
   width: 50%;
text-align:left;
   padding: 10px;

}

.profile img{
  cursor: pointer;
/* animation: pulse 10s ease alternate infinite; */
/* height:100%; */
height:50%;
width:85%;

}
.profile:hover{
  /* animation: rot3d 3s ease alternate infinite; */

}



.svggraphic{
transform: scale(0.5);
  /* animation: pulse 4s ease alternate;
  transform-origin: center;
 transform-box:fill-box;
 animation-iteration-count: infinite; */
}










@media only screen and (max-width: 1008px) {

.profile img{
/* height:30%; */
width:80%;
}

}



.date{
  font-size:1.2em;

}

.company{
  font-size:0.5em;
}
@keyframes rot3d{
  0% {
  transform: rotate3d(0, 1, 0, 0turn);
/* transform:scale(1); */
  }

50%{
  transform: rotate3d(0, 1, 0, -0.1turn);
/* transform:scale(1.01); */

}

100% {
transform: rotate3d(0, 1, 0, 0turn);
/* transform:scale(1); */
}

}




@keyframes lefta{
  0% {
    transform:rotatez(0deg);

  }
  25%{
    transform: rotatez(-25deg);

  }
  50% {
    transform:rotatez(-1deg);

  }
  75% {
    transform:rotatez(-25deg);

  }
  100% {
    transform:rotatez(0deg);

  }
  }


  @keyframes righta{
    0% {
      transform:rotatez(0deg);

    }
    25%{
      transform: rotatez(25deg);

    }
    50% {
      transform:rotatez(1deg);

    }
    75% {
      transform:rotatez(25deg);

    }
    100% {
      transform:rotatez(0deg);

    }
    }




  @keyframes topa{
    0% {
      transform:translateY(0px);

    }
    25%{
      transform: translateY(45px);

    }
    50% {
      transform:translateY(0px);

    }
    75% {
    transform: translateY(45px);

    }
    100% {
        transform:translateY(0px);

    }
    }

    @keyframes shine{
      0% {
        transform:scale(1);

      }
      25%{
        transform:scale(0.9,0.8);

      }
      50% {
          transform:scale(1);

      }
      75% {
    transform:scale(0.9);

      }
      100% {
          transform:scale(1);

      }
      }

      @keyframes pulse{
        0% {
          transform:scale(1);

        }
        25%{
          transform:scale(0.95);

        }
        50% {
            transform:scale(1,1.2);

        }
        75% {
      transform:scale(0.95);

        }
        100% {
            transform:scale(1);

        }
        }
      @keyframes shiner{
        0% {
          transform:scale(1);

        }
        25%{
          transform:scale(0.8);

        }
        50% {
            transform:scale(1);

        }
        75% {
      transform:scale(0.5);

        }
        100% {
            transform:scale(1);

        }
        }
  #bush_L:hover{
    animation: lefta 10s ease alternate;
    transform-origin: right;
    transform-box:fill-box;
  }
  #bush_R:hover{
    animation: righta 10s ease alternate;
    transform-origin: left;
    transform-box:fill-box;
  }
  #bush_top:hover{
    animation: topa 10s ease alternate;
    transform-origin: left;
    transform-box:fill-box;
  }


  #bush_L{
    animation: shine 4s ease alternate;
    transform-origin: center;
   transform-box:fill-box;
   animation-iteration-count: infinite;
  }
  #bush_R{
    animation: shine 4s ease alternate;
    transform-origin: center;
   transform-box:fill-box;
   animation-iteration-count: infinite;
  }
  #bush_top{
    animation: shine 4s ease alternate;
    transform-origin: center;
   transform-box:fill-box;
   animation-iteration-count: infinite;
  }



  #sunShine{
    animation: shiner 40s ease alternate;
    transform-origin: 75% 100px;
   transform-box:fill-box;
   animation-iteration-count: infinite;

  }


/* content transition */

  @keyframes my-animation {
  from {
    opacity : 0;
    left : -500px;
  }
  to {
    opacity : 1;
    left : 0;
  }
}

.run-animation {
  /* position: absolute; */
  /* disables movement */
  animation: my-animation 2s ease;
  text-align:left;
}
