
@media screen and (min-width: 800px) {

#petals {
    position: absolute;
    top: -500px;
    width: 100%;
    text-align: center;
    margin-left: 500px;
}

#petals i {
    display: inline-block;
    width: 40px;
    height: 40px;
    opacity: 1;
    z-index: 2;
    position: absolute;
    background: url("https://lh3.googleusercontent.com/gr2Xjzyy5f-vdto3iuLhafp-v-EJwMrjtkOWu-bXwUpmcEepO6TmC3GR7pOshZS5FWCpRTiIl4Jpf6BkW5EeU23O9p8tV9TfGJcvzwH7QYw2-OG-VymP0-TOM1Pu85vbxmIGXiiHQzPhruXJKdK2J-jvl8LDhMHoIusXYbEmqHWdXBKkjjloUNzwcXXIBq-EWT21Q07txQqv5fSlKtLUeUCPVR10lZCThup1XA5Ta-GGbHzGsY0fm9uyAyJ4qm1FgDRxvVH3l847ShSRuKiHCDnjeF5d4hDMCYsfjK0ZR4fFfYjmrQhDwGtZ6nIl3uwohkT05MRR3L169pV9FYkeSAgyQsKXHFzdjcVfuPkVOvkB10K26AJjAxq6M2FrFFw5YSuO_FAhSTOH_dZkLFsH3mcqIw5DRQHq2LHqkIokNNhtTV9L-h7thwtQubu7pJvF3W3WbwEla9X9zgm3BI_jnlgjHmevrr-gIly7mZX6eJwWtV2YGOq7howCFxOLqZVaqDj8VwsdMg9_o0VzxPh9L8qCpkWnso9jjyQyyX5CAgXECFW0ViRxrtYcJgxAcaWkmZ9Vf_14yTgF1UgspIX7_LIrMCvxqy1v8M9Oh6mE2Sii6ogob9SUhsJfhYPCS6Wzc91GEfQzAd8Fn1in9sL5T5HbKN7XeulHkrkqQ8qsX4SjMLnR_ifY6snMMqMpv0U30CJP9yqjo_vAcyd52juQtk2iRQ=s22-no") no-repeat;
    background-size: cover;
    border-radius: 58% 20% 70%;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* Animation timing assignment */
#petals i:nth-of-type(2n) {
    animation: falling2 6s infinite;
}
#petals i:nth-of-type(3n) {
    animation: falling3 12s infinite;
}
#petals i:not(:nth-of-type(2n), :nth-of-type(3n)) {
    animation: falling 10s infinite;
}

/* Keyframes */
@keyframes falling {
    0% {
        transform: translate3d(300px, 0, 0) rotate(0deg);
        opacity: 1;
    }
    to {
        transform: translate3d(550px, 700px, 0) rotate(-60deg);
        opacity: 0;
    }
}

@keyframes falling2 {
    0% {
        transform: translate3d(0, 0, 0) rotate(150deg);
        opacity: 1;
    }
    to {
        transform: translate3d(-400px, 680px, 0) rotate(0deg);
        opacity: 0;
    }
}

@keyframes falling3 {
    0% {
        transform: translate3d(0, 0, 0) rotate(0deg);
        opacity: 1;
    }
    to {
        transform: translate3d(-530px, 1500px, 0) rotate(90deg);
        opacity: 0;
    }
}

}