/*this simply act as a space to make the splash page taller -> so it can be full height*/

#space{
 height: 50vh;
z-index:-1;
  

}
/*end of space*/


/*some maximenu adjustments*/
div#maximenuck109.maximenuckh ul.maximenuck, #maximenuck109.maximenuckh ul.maximenuck {
    background: rgba(255,255,255,1);
    background-color: rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 6px 8px #FFFFFF;
    -webkit-box-shadow: 0px 0px 6px 8px #FFFFFF;
    box-shadow: 0px 0px 6px 8px #FFFFFF;
    text-align: right;
  margin-right:10px;
}



.mobilemenuck-bar-title {
    display: none;
}

/*end of maximenu adjustments*/


/* moving background image with filters */


body{
background-image: radial-gradient(#835b1e, rgba(0, 0, 0, 0.8)),url("https://basicjoomla.com/images/joomla_laptop2_small.png") !important;
  animation: mymove1 12s alternate infinite !important;
 background-size: 105% 100%!important;
 background-repeat: no-repeat;
  overflow-x: hidden; /* Hide horizontal scrollbar */

}


/* moving background controls */
@keyframes mymove1 {
 0% {

    background-position: top right;

  }


  100% {

    background-position: top left;

  }
}

/* moving background mobile view */
@media screen and (max-width: 1638px){

body  {
   background-size: 200% 100%!important;

}

}
/* end of moving background image with filters */

/*both act as a fixed wrapper to keep the particles fixed*/
#wrapper6{

  background-attachment: fixed;
         color: #ffffff;

  overflow:hidden;
}



#wrapper2  {

position:fixed;
  background-attachment: fixed;
         color: #ffffff;
height:100vh;
  overflow:hidden;
}

/*end of fixed wrapper to keep the particles fixed*/

/*animated text displaying the subscribers found on the splash page*/
.typing {
  width:100%;
  margin: auto;
  text-align:center;
  color: white;
  font: 700 normal 2em 'Arial, Sans-Serif;';
  font-family: Helvetica, Arial, Sans-Serif;

}

@media screen and (max-width: 940px){

.typing {
 font: 700 normal 1em 'Arial, Sans-Serif';
  font-family: Helvetica, Arial, Sans-Serif;
}
}
/*end of animated text displaying the subscribers found on the splash page*/



  /*youtube video wrapper*/
  #wrapper4 {

  background-attachment: fixed;
 background-size: 105% 100% !important;
         color: #ffffff;

}

/*youtube video iframe size*/

iframe{
   width: 75%;
  height: 600px;


}
/*end of youtube video wrapper*/


/*start of convert form wrapper*/
#wrapper6 {
height:50vh;
color: #ffffff;
}
  /*end of convert form wrapper*/

/*start of cybersalt wrapper*/
  #wrapper5 {
height:100vh;
  background-attachment: fixed;
 background-size: 105% 100% !important;
         color: #ffffff;
}

  /*end of cybersalt wrapper*/
