
/* Fixed vertical nav */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  /* background: #fff;          */
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
  transition: transform 0.3s ease;  /* smooth slide */
}

.sidebar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 12px;
  display: block;
  width: 100%;
  text-align: left;
  transition: background-color 0.3s;
}

.sidebar a:hover {
   background: #f88bc77e; 
  color: white;
}

/* Toggle button */
.menu-btn {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 24px;
  /* background: #111; */
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  z-index: 1001;
  cursor: pointer;
}

  /* Flip when active */
    .menu-btn.active {
      transform: rotate(180deg);
	  font-size: 5px;
    }

/* Mobile styles */
@media (max-width: 800px) {
  .sidebar {
    transform: translateX(-100%); /* hide by default */
  background: #000000b4;   
      width: 100%;  

}

.sidebar a {
 color:white;   
  text-align: center;
font-size: 30px;
 
}

.sidebar a:hover {
  background: #f88bc77e;  
  color: white;
}

@media (max-width:800px){
	
}



  .sidebar.active {
    transform: translateX(0);     /* show when active */
  }
  .menu-btn {
    display: block;
  }
}
