body{
    margin:0
}
header
{
    top:0;position:sticky;z-index:8;font-family:Verdana,Geneva,Tahoma,sans-serif;font-weight:bold}
    .home_nav{top:0;position:fixed;
        z-index:3;background:#000000;margin-left:auto;
        margin-right:auto;width:100%;
        /* margin-bottom:5px; */
        display:inline-block;-webkit-box-shadow:0 4px 6px -6px #222;
            box-shadow: 0 4px 6px -6px #ffffff;
        }.home_icon img{
            
            width: 2%;
    /* height: 2%; */
    vertical-align: middle;
    /* padding-top: 15px; */
    /* padding-bottom: 2px; */
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-top: 10px;
  
        
        }
            .home_icon img:hover{
                -webkit-transform:scale(1);
                transform:scale(1);
                -webkit-transition:0.5s -webkit-transform;
                transition:0.5s -webkit-transform;transition:0.5s transform;
                transition:0.5s transform,0.5s -webkit-transform}
                .home_nav-item{margin-left:15px;
                    height: 25px;}
                .nav{top:0;z-index:3;
                    font-size:0.5em;
                    margin-left:auto;
                    margin-right:auto}
                    i .fa-solid .fa-drumstick-bite
                    {font-size:45pt;color:#ffffff}.nav
                     .nav-item{display:inline-block;
                        width:-webkit-max-content;
                        width:-moz-max-content;width:max-content;-webkit-box-flex:1;
                        -ms-flex-positive:1;flex-grow:1;
                        text-decoration:none;position:sticky;padding-right:30px;
                        padding-left:30px;text-decoration:none;
                        color:#ffffff;display:block;
                        -webkit-transition:0.3s background-color;
                        transition:0.3s background-color;
                        text-align:right;margin-left:auto;margin-right:auto}
                        .nav .nav-item a{text-decoration:none;
                            /* background-image:-webkit-gradient(linear,left top,left bottom,from(#DF62BC),to(#DF62BC)); */
                            /* background-image:linear-gradient(#DF62BC,#DF62BC); */
                            background-size:0 0.2125rem,auto;background-repeat:no-repeat;background-position:center bottom;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out;font-size:0.7em}.nav .nav-item a:focus,.nav .nav-item a:hover{background-size:100% 0.2125rem,auto}a{color:#ffffff}.nav-item:hover{-webkit-transition:0.5s background-color;transition:0.5s background-color}#myLinks{display:-webkit-box;display:-ms-flexbox;display:flex;float:right;margin-top:-25px}.nav_heading{display:none}.initialNav{-webkit-transform:translateX(-500px);transform:translateX(-500px)}.fa-bars:before{display:none!important;color:transparent!important}
                .hamburger{display:none}
                @media screen and (min-width:800px){
                    #myLinks{display:-webkit-box!important;
                        display:-ms-flexbox!important;display:flex!important}}
                        @media screen and (max-width:800px)
                        {.fa-bars:before{display:block!important;color:white!important}
                        .nav .nav-item{text-align:center}
                        .hamburger{color:rgb(255,255,255);
                            margin-left:5%;display:inline-block;
                            -webkit-transform:rotate(0deg);transform:rotate(0deg);
                            -webkit-transition:0.5s;transition:0.5s;margin-right:-10%;
                            vertical-align:middle;margin-left:70%;margin-top:2px}
                            .nav_heading{display:inline-block;margin-left:10%}
                            .hamburger:hover{-webkit-transform:rotate(90deg);
                                transform:rotate(90deg);
                                color:#DF62BC;-webkit-transition:0.5s;transition:0.5s}
                                .hamburger:active{-webkit-transform:rotate(90deg);transform:rotate(90deg);color:#ffffff}.nav{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;margin-left:auto;margin-right:auto;text-align:center}#myLinks{display:none;float:none}.home_icon img{width:5%;height:5%;vertical-align:middle;padding-top:5px;padding-bottom:2px}.home_nav .home_nav-item{display:block;width:100%;padding-top:2px;padding-bottom:2px;text-decoration:none;display:block;-webkit-transition:0.3s background-color;transition:0.3s background-color;text-align:center;margin-left:auto;margin-right:auto}.nav .nav-item{display:block;margin-left:0;margin-right:0;padding-top:20px;padding-bottom:20px;text-decoration:none;display:block;-webkit-transition:0.3s background-color;transition:0.3s background-color;text-align:center;margin-left:auto;margin-right:auto}.nav .nav-item{text-decoration:none;display:block;text-align:center}}.hidden{display:none}
                                .special-nav-item {
                                    font-size: 2.25em; /* Larger font size */
                                    color: #ffffff; /* Text color */
                                    padding: 10px 20px; /* Add some padding */
                                    /* border: 2px solid #ffffff2c;  */
                                    /* text-align: center; */
                                    vertical-align: middle;
                                    text-decoration: none;
                                    display: inline-block;
                                    position: relative;
                                    border-radius: 12px; /* Rounded corners */
                                    background-color: #00000000; 
                                    transition: 0.3s box-shadow ease-in-out, 0.3s font-size ease-in-out; /* Smooth transitions for box-shadow and font-size */
                                
                                }
                                
                                .special-nav-item:hover {
                                    
                                 border-color: #9b59b6; 
                                    box-shadow: 0 0 10px #9b59b6, 0 0 20px #9b59b6, 0 0 30px #9b59b6; 
                                }

                                .special-nav-item:hover .fa-robot {
                                    animation: fa-shake 1s infinite; /* Font Awesome shake animation */
                                    /* border-color: #9b59b6; 
                                    box-shadow: 0 0 10px #9b59b6, 0 0 20px #9b59b6, 0 0 30px #9b59b6;  */
                                }
                                